:root {
    --primary: #6366f1;
    --bg: #0f172a;
}

body {
    background: var(--bg);
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.card {
    background: #1e293b;
    padding: 2rem;
    border-radius: 1rem;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    background: var(--primary);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #334155;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.btn-delete {
    background: #ef4444; /* Rojo */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: auto; /* Para que no ocupe todo el ancho como el otro */
}

.btn-delete:hover {
    background: #dc2626;
}